<html>
    <head>
        <style>
            #feed
            {
                background-color: green;
                color: white;
            }
        </style>
    </head>
    <body>
        <h1>Welcome</h1>
        <div id="row">
            <div>Speed: <span id='Carid'>10</span></div>
            <div>Fuel: <span id='Carid'>20</span></div>
            <div>Last Refuel: <span id='Carid'>30</span></div>
            <div>Time to Empty Tank: <span id='Carid'>40</span></div>

            <div><button id="btnFeed">Feed</button></div>
        </div>
    </body>
</html>


