<html>
    <head>
        <script src="https://unpkg.com/@metamask/legacy-web3@2.0.0/dist/metamask.web3.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="assets/nftgame.js"></script>
        <style>
            #feed
            {
                background-color: green;
                color: white;
            }
        </style>
    </head>
    <body>
        <h1>Welcome</h1>
        <div id="row">
            <div>Speed: <span id='Carid'>10</span></div>
            <div>Fuel: <span id='Carid'>20</span></div>
            <div>Last Refuel: <span id='Carid'>30</span></div>
            <div>Time to Empty Tank: <span id='Carid'>40</span></div>

            <div><button id="btnMint">Mint</button></div>
            <div><button id="btnRetrieve">Retrieve</button></div>
        </div>
    </body>
</html>


